[Unit]
Description="Astrobear API"

[Service]
ExecStart=/root/.nvm/versions/node/v17.8.0/bin/node /var/www/html/api.astrobearspace.club/src/index.js
Restart=always
User=root
Group=nogroup
Environment=PATH=/usr/bin:/usr/bin/env:/usr/local/bin
WorkingDirectory=/var/www/html/api.astrobearspace.club

[Install]
WantedBy=multi-user.target